
/* NAVBAR */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    overflow: hidden;
    display: block;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f3f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #e83b3b;
    color: rgb(254, 254, 254);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e63838;
    color: white;
  }

  .logo {
    float: right;
    max-width: 100%;
    height: 48px;
  }
  .topnav a.split {
    float: right;
    background-color: #f43030;
    color: white;
  }
.container{
    position: relative;
}
  /* Style the video: 100% width and height to cover the entire window */
  #myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    max-width: 100%;
    margin: auto;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }